pipelines:
  default:
    - step:
        image: node:18
        script:
          - npm install
          - node downloadSmokeTestSheet.js
          - git add smoke_test_sheet.xlsx
          - git commit -m "[skip ci] Smoke Test sheet updated. Automated."
          - git push