pipelines:
  default:
    - step:
        image: node:18
        script:
          - npm install
          - if [ -e "./smoke_test_sheet.xlsx" ]; then
                git rm smoke_test_sheet.xlsx;
            else
              echo "File does not exist.";
            fi
          - node downloadSmokeTestSheet.js
          - git pull
          - git add .
          - git commit -m "[skip ci] Smoke Test sheet updated. Automated."
          - git push