
@{
    ViewData["Title"] = "Coursewise Api Home";
}

<!DOCTYPE>
<html lang="en">
<head>
    <title> @ViewData["Title"]</title>
    <style>
        .center {
            margin: auto;
            width: 50%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 90%;
        }

        img{
            width:100px;
        }
        h3{
            margin:0px;
        }
    </style>
</head>
<body>
    <div class="center">
        <img alt="Coursewise api" src="~/images/logo_main.png" />
        <h3>Coursewise Api</h3>
        <h4>1.0.@ViewData["Version"]</h4>
    </div>
</body>
</html>
